.footer {
	&.-p {
		padding: 15px 0;
	}
}


.footer-content {
	box-shadow: 0 -15px 15px -10px rgba(0, 0, 0, 0.1);
}

.footer-item {
	height: 220px;
}

.copyright {
	text-align: center;
	margin: 0;
	font-size: 16px;
	color: #ddd;
}