.container {
    width: 100%;
}
.max-w1024 {
    max-width: 1024px;
    margin: 0 auto;

    &.-pt {
        padding-top: 30px;
    }
}
.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
.flex {
    display: flex;
    &.sb {justify-content: space-between;}
    &.sa {justify-content: space-around;}
    &.fe {justify-content: flex-end;}
    &.c {justify-content: center;}

    &.aic {align-items: center;}

    .s3 {
        padding: 0 10px;
        flex-basis: 25%;
    }
    .s4 {
        padding: 0 10px;
        flex-basis: 33.33333%;
    }
    .s5 {
        padding: 0 10px;
        flex-basis: 41.66667%;
    }
}

.main-nav {
    padding: 30px 0;
}

.main-top {
    background-color: #0091cf;
    padding: 30px 0;

    .-header {
        padding: 0 0 30px;

        .-description {
            color: #fff;
            text-transform: uppercase;
        }
    }

    .-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 180px;
        height: 100px;
        border-radius: 20px;
        background-color: #fff;
        color: #000;

        .-count {
            display: block;
            font-size: 30px;
            line-height: 1;
            padding: 0 0 10px;
            font-weight: bold;
        }
        .-description {
            font-size: 14px;
        }

        &.-green {color: #2ecc71;}
        &.-blue {color: #3498db;}
        &.-gray {color: #7f8c8d;}
    }
}

.section {

    &-heading {
        background-color: #f4f3f3;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        padding: 12px 0;
        margin: 15px 0;
        color: #838383;
    }

    &-subheading {
        font-size: 18px;
        font-style: italic;
        text-align: center;
        padding: 15px 0;

        p {
            margin: 0;
        }
    }
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 35px 50px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(#000, .3);
    &.-narrow {
        padding-left: 150px;
        padding-right: 150px;
    }

    &.-mb {
        margin-bottom: 80px;
    }

    &-top {
        padding: 0 0 30px;
    }

    &-bottom {
        padding: 30px 0;
    }

    h1 {
        font-size: 24px;
        line-height: 1.1;
        font-weight: bold;
        margin: 0 0 10px;
    }
    h2 {
        font-size: 20px;
        line-height: 1.1;
        margin: 0 0 15px;
        font-weight: bold;
    }
    .subheading {
        margin: 0 0 25px;
    }

    .-text {
        padding: 15px 0;
    }

    .-location {
        margin: 0 -50px;
        padding: 35px 0;
    }

    .-additional {
        .-label {
            text-transform: uppercase;
            color: #7f8c8d;
            margin: 0 0 15px;
            font-size: 14px;
        }
    }
}

.information {
    padding: 0 0 20px;

    &.-pt {
        padding-top: 25px;
    }

    .-label {
        font-size: 12px;
        color: #7f8c8d;
    }
}
.info-item {
    padding: 10px 0;
    p {
        margin: 0;
    }
}

.notification {
    padding: 15px 30px;

    .btn {
        padding: 18px 49px 15px;
    }

    .-text {
        padding: 14px 45px 14px 0;
        background: url(img/arrow-to.png) no-repeat 100% 100% / 40px 17px;
        margin-right: 20px;
    }
}

.post {
    padding: 15px 0;

    &-header {
        padding: 0 0 15px;

        h4 {
            margin: 0;
        }

        .-caption {
            color: #515151;
            font-weight: bold;
            margin: 0;
        }
        .-additional {
            font-size: 12px;
        }
    }

    &-body {
        p {
            margin: 0 0 10px;
        }

        .address,
        .contact {
            margin: 0;
        }
        .contact {
            .link {
                margin-left: 20px;
            }
        }
    }
}