mixin navbar()
	nav(role="navigation").navbar.navbar-inverse
		.navbar-header
			button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="#" ).navbar-brand Title
		.collapse.navbar-collapse.navbar-ex1-collapse
			ul.nav.navbar-nav.navbar-right
				li: a(href="#") Link
				li: a(href="#") Link
				li: a(href="#") Link
				li: a(href="#") Link
				li: a(href="#") Link
				li: a(href="#") Link
				li: a(href="#") Link