.main-top {
	.-header {
		display: block;
		padding: 0 0 10px;

		.-description {
			display: block;
			margin-bottom: 10px;
		}
	}

	.-body {
		.select-custom {
			flex-basis: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.flex-xs-off {
	display: block;
}

.stats {
	flex-wrap: wrap;

	.-item {
		flex-basis: 100%;
		padding: 5px;
		margin: 10px 0;

		&.small {
			flex-basis: 30%;
			margin: 5px 0;
		}
	}
	
}

.content {
	padding: 15px;

	&-top {

		.right {
			float: none !important;

			&.pr15 {
				padding-right: 0;
			}
		}
		h2 {
			margin: 0 0 10px;
		}
		.view-counter {
			display: block;
			margin: 0 0 10px;
		}
		.select-wrapper {
			margin: 0 0 10px;

			&.alignment {
				margin: 0 20px 0 0;
				flex-basis: 60%;
			}
		}
	}

	&-bottom {
		padding-left: 15px;
		padding-right: 15px;
	}

	.-location {
		margin: 0 -15px;
	}
}

.post {
	.right {
		float: none !important;
		text-align: right;
	}
}

.authorization-block {
	width: 95%;
	padding: 25px 15px;
}

.filter-item {
	display: block;
	.btn {
		width: 100%;
	}
}