span.badge {
    float: none;
    padding: 2px 5px;
}
span.badge.new {
    background-color: map-get($pallete, additional);
}
.badge.new.-primary {
    background-color: map-get($pallete, primary);
}

.badge.new.-default {
    background-color: #969696;
}

span.badge.-custom {
    background-color: #e6e4e4;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 15px;
    border-radius: 10px;
    vertical-align: middle;

    &:after {
        content: '';
    }
}