span.badge {
    float: none;
    padding: 2px 5px;
    
    &.-lg {
        font-size: 13px;
        padding: 4px 7px;
    }

    &.m0 {
        margin: 0;
    }
}
span.badge.new {
    background-color: map-get($pallete, additional);
}
.badge.new.-primary {
    background-color: map-get($pallete, primary);
}

.badge.new.-default {
    background-color: #969696;
}

span.badge.-custom {
    background-color: #e6e4e4;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 10px;
    vertical-align: middle;
    white-space: nowrap;

    &:after {
        content: '';
    }
}