.btn {
	border: 1px solid transparent;
	background-color: #00ad64;
	box-shadow: none;
	border-radius: 50px;
	height: auto;
	line-height: 1;
	padding: 10px 15px 8px;

	&:hover,
	&:focus,
	&:focus:active,
	&:active {
		outline: none;
		background-color: #00c853;
	}

	& + & {
		margin: 0 0 0 10px;
	}

	i,
	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		font-size: 14px;
		transition: color .3s;
	}

	&.-primary {
		border-color: map-get($pallete, primary);
		background: #fff;
		color: map-get($pallete, primary);
		box-shadow: none;

		i, span {
			color: map-get($pallete, primary);
		}

		&:active,
		&:active:focus,
		&:hover,
		&:focus {
			background-color: map-get($pallete, primary);
			color: #fff;

			i,
			span {
				color: #fff;
			}
		}

		&.-inverse {
			background-color: map-get($pallete, primary);
			color: #fff;

			i,
			span {
				color: #fff;
			}

			&:active,
			&:active:focus,
			&:hover,
			&:focus {
				color: map-get($pallete, primary);
				background-color: #fff;

				i,
				span {
					color: map-get($pallete, primary);
				}
			}
		}
	}

	&.-white {
		background-color: transparent;
		color: #fff;
		border-color: #fff;

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}

	&.-lg {
		width: 236px;
		height: 55px;
		line-height: 35px;
		&.w100p {
			width: 100%;
		}
	}

	&.-xl {
		width: 430px;
		height: 80px;
		font-size: 24px;
		line-height: 60px;
		font-weight: bold;
	}

	&.-w200 {
		width: 200px;
	}

	&.-default {
		border-color: #838383;
		color: #838383;
		background-color: transparent;
	}
}

.dropdown-button {
	text-transform: none;
}

.btn-search {
	position: relative;
	width: 45px;
	height: 45px;
	background-color: #fff;
	color: #0091cf;
	box-shadow: none;

	&:hover,
	&:focus {
		background-color: rgba(#fff, .8);
	}

	i {
		position: absolute;
		right: -2px;
		bottom: -2px;
		width: auto;
		height: auto;
		font-size: 40px;
		line-height: 1;
		color: #0091cf;
	}
}

.btn-holder {
	padding: 15px 0;
}

.btn-flat {
	&.active {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.additional-disabled {
	background-color: #7fd5b1;
	color: #00824b;
	text-transform: none;
	font-weight: bold;
	cursor: no-drop;

	&:hover,
	&:focus {
		box-shadow: none;
		background-color: #7fd5b1;
		color: #00824b;
	}
}