.select-wrapper {
    span.caret {
        right: 15px;
    }

    &.-wider {
        width: 300px;
    }
    &.-mlr {
        margin-right: 10px;
        margin-left: 10px;
        & + .btn-search {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    input {
        &.select-dropdown {
            border: 1px solid #95a5a6;
            margin-bottom: 0;
            border-radius: 50px;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
    .dropdown-content {
        top: 108% !important;
        box-shadow: 0 0 20px rgba(#000, .2);
        padding: 10px 0 5px;
        overflow: visible;

        li {
            background-color: #fff;
            min-height: 1px;

            a, span {
                color: #000;
                padding: 5px 15px;
            }

            &.active {
                background-color: #4099ff;
                > a,
                > span {
                    color: #fff;
                }
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -8px;
            left: 50%;
            margin-left: -15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 8px 15px;
            border-color: transparent transparent #fff transparent;
        }
        &.active {
            &:before {

            }
        }
    }

    &.-white {
        color: #fff;

        input.select-dropdown {
            border-color: #fff;
        }
        span.caret {
            color: #fff;
        }
    }
}

.select-custom {
    input {
        &.select-dropdown {
            border-color: #fff;
            color: #fff;
            background-color: #007db4;
        }
    }
    span.caret {
        z-index: 1;
        pointer-events: none;
        color: #fff;
    }
}

.form-drop {
    padding: 10px;
    border-radius: 15px;

    li {
        &:hover {
            background-color: transparent;
        }
    }
    form {
        padding: 10px;
    }
}

.input-inline {
    border: 1px solid #838383;
    border-radius: 50px;
    padding: 5px 15px;

    .form-control {
        width: 75%;
        height: 32px;
        float: left;
        border: none;
        margin: 0;
    }

    input[type=text].form-control:focus:not([readonly]) {
        &:hover,
        &:focus {
            box-shadow: none;
            border: none;
        }
    }
    button {
        background-color: transparent;
        box-shadow: none;
        width: 25%;
        height: 32px;

        i {
            width: 100%;
            color: #4099ff;
            font-size: 24px;
            line-height: 32px;
        }
        &:hover,
        &:focus {
            background-color: transparent;
            box-shadow: none;
        }
    }
}
.form-custom {
    padding: 35px;

    .form-control {
        border: 1px solid #d8d8d8;
        padding: 10px 15px;
        border-radius: 25px;
        height: auto;
        box-sizing: border-box;
        margin: 0;

        &:focus,
        &.active {
            outline: none;
        }
    }

    .select-wrapper input.select-dropdown {
        border-color: #d8d8d8;
        height: 40px;
        line-height: 1;
    }
    span.caret,
    .fa {
        color: #d8d8d8;
    }

    input[type=text].form-control:focus {
        box-shadow: none;
        border-color: #838383;
    }

    label {
        display: block;
        color: #515151;
    }
    .with-gap + label {
        padding: 0 0 0 30px;
    }

    [type="radio"]:checked + label:after,
    [type="radio"].with-gap:checked + label:before,
    [type="radio"].with-gap:checked + label:after {
        border-color: #4099ff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"].with-gap:checked + label:after {
        background-color: #4099ff;
    }
    [type="radio"]:checked + label {
        color: #4099ff;
    }

    .datepicker-wrapper .fa {
        right: 12px;
        color: #515151;
    }
    .datepicker {
        padding-right: 20px;
        padding-left: 12px;
    }

    &.-cv-edit {
        label {
            margin: 0 0 10px 10px;
        }
        textarea.form-control {
            border-radius: 10px;
            min-height: 135px;
        }
        h3 {
            font-size: 24px;
            margin: 28px 0 15px;
        }
        h5 {
            font-size: 0.8rem;
            margin: 0 0 10px 10px;
        }
        p {
            font-size: 14px;
        }

        .form-control {
            font-size: 14px;
            color: #515151;

            &::-webkit-input-placeholder {
                color: #515151;
            }
            &::-moz-placeholder {
                color: #515151;
            }
            &:-ms-input-placeholder {
                color: #515151;
            }
        }

        .btn {
            width: 200px;
        }
    }

    &.-new-vacancy {
        padding: 0;

        label {
            padding: 0 15px 0 0;
        }

        textarea.form-control {
            border-radius: 10px;
            height: 200px;
        }

        .row {
            margin-bottom: 0;
        }
        .flex {
            padding-bottom: 15px;
        }
        .-pb {
            padding-bottom: 15px;
        }
        .-ml120 {
            margin-left: 120px;
        }
    }
}

.form-group {
    padding: 0 0 15px;
}

textarea.form-control {
    resize: none;
    height: 230px;
    border-radius: 15px;
    padding: 15px;

    &:focus {
        outline: none;
    }
}

.form-feedback {
    text-align: left;

    label {
        display: block;
        font-size: 14px;
        color: #838383;
        margin: 0 0 15px;
    }

    .form-control {
        margin-bottom: 25px;
    }

    .btn {
        width: 300px;
    }
}

.datepicker-wrapper {
    position: relative;
    
    .fa {
        position: absolute;
        right: 25px;
        top: 50%;
        margin-top: -8px;
        pointer-events: none;
    }
}
.datepicker {
    cursor: pointer;
}