.modal-overlay {
    background-color: #fff;
}

.modal {
    background-color: #fff;
    border-radius: 15px;
    overflow: visible;

    &.-custom {
        width: 600px;

        .modal-content {
            padding: 25px 40px;
        }

        .modal-footer {
            background-color: #fff;

            .btn {
                float: none;
            }
        }
        .close {
          position: absolute;
          top: -22px;
          right: -22px;
          width: 45px;
          height: 45px;
          line-height: 48px;
          background-color: #fff;
          text-align: center;
          border-radius: 50%;
          box-shadow: 0 0 15px rgba(0, 0, 0, .2);
          cursor: pointer;

          i {
              font-size: 20px;
              color: #838383;
          }
        }

        p {
            margin: 0 0 10px;
        }
    }

    .modal-footer {
        .btn {
            margin: 6px 10px;
        }
    }
}

.modal-default {
    max-width: 800px;
    max-height: none;
    padding: 0;
}

.modal-alignment {
    .icon-wrapper {
        padding: 15px 0;
    }
    h4 {
        margin: 15px 0;
    }
}
