h4 {
    font-size: 18px;
    font-weight: bold;
}

.date {
    display: block;
    font-size: 12px;
    color: #838383;
    margin-bottom: 10px;
}
.italic {font-style: italic;}

p {
    margin: 0 0 15px;
}