.main-top {
	.-body {
		flex-wrap: wrap;
		justify-content: center;

		.select-custom {
			flex-basis: 45%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.valign-wrapper {
	height: 100%;
}

.stats {

	.-item {
		flex-basis: 25%;
		margin: 10px 15px;

		&.x-small {
			margin: 5px 0;
			width: 100%;
			flex-basis: 50%;
		}
	}
}

.content {
	.-location {
		iframe {
			width: 100% !important;
		}
	}

	&-top {
		.left,
		.right {
			float: none !important;
			padding: 10px 0;
		}
	}
}