.list-default {
	&.dropup-menu {
		&:after {
			margin-left: 0;
		}
	}
}

.list-output:not(.browser-default) {
	padding: 0;
}

.list-steps {
	display: block;

	.step-next {
		i {
			transform: rotate(90deg);
		}
	}
}