.panel-window {
	&.-custom {
		form {
			width: 100%;
		}
		.flex {
			display: block;
		}

		.select-wrapper {
			width: 100%;
			margin: 0 0 15px;
			&.-mr {
				margin-right: 0;
			}

			+ .btn {
				width: 100%;
				display: block;
			}
		}

		.textarea-wrapper {
			.btn {
				display: block;
				width: 100%;
			}
		}
	}
}

.panel {
	padding: 15px;
	border-radius: 10px;

	.heading-n-badge {
		font-size: 18px;
	}

	&.row { /*Перебиваем стили блока сетки*/
		.col {
			padding: 0;
		}
	}

	&.-row { /*Задаем стили для модификатора*/
		display: block;
		padding: 10px 15px;

		[class^="item"] {
			padding: 5px 0;
		}

		.item1 {
			display: block;
			text-align: center;
		}
		.panel-arrow {
			text-align: center;
		}
	}
}