.panel-window {
	&.-custom {
		form {
			width: 100%;
		}
		.flex {
			display: block;
		}

		.select-wrapper {
			width: 100%;
			margin: 0 0 15px;
			&.-mr {
				margin-right: 0;
			}

			+ .btn {
				width: 100%;
				display: block;
			}
		}

		.textarea-wrapper {
			.btn {
				display: block;
				width: 100%;
			}
		}
	}
}