.form-custom {
	&.-cv-edit {
		label {
			margin: 7px 10px;
		}
	}

	&.-inline-form {
		.btn.-ml150 {
			margin-left: 0;
		}
	}
}

.form-group {
	.right-align {
		text-align: left;
	}
	label {
		margin: 7px 10px;
	}
	.col-additional {
		text-align: center;
	}

	.btn {
		margin: 10px 0;
	}
}

.form-members {
	&.flex {
		flex-wrap: wrap;
	}
	.fb60p,
	.fb35p {
		flex-basis: 100%;
	}

	.btn {
		width: 100%;
		margin-top: 15px;
	}
}

.input-group {
	.btn {
		flex-basis: 130px;
	}
}
