/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ic-brain-name: 'ic-brain';
$ic-brain-x: 0px;
$ic-brain-y: 0px;
$ic-brain-offset-x: 0px;
$ic-brain-offset-y: 0px;
$ic-brain-width: 95px;
$ic-brain-height: 105px;
$ic-brain-total-width: 348px;
$ic-brain-total-height: 282px;
$ic-brain-image: '../img/sprite.png';
$ic-brain: (0px, 0px, 0px, 0px, 95px, 105px, 348px, 282px, '../img/sprite.png', 'ic-brain', );
$ic-contract-name: 'ic-contract';
$ic-contract-x: 202px;
$ic-contract-y: 0px;
$ic-contract-offset-x: -202px;
$ic-contract-offset-y: 0px;
$ic-contract-width: 71px;
$ic-contract-height: 89px;
$ic-contract-total-width: 348px;
$ic-contract-total-height: 282px;
$ic-contract-image: '../img/sprite.png';
$ic-contract: (202px, 0px, -202px, 0px, 71px, 89px, 348px, 282px, '../img/sprite.png', 'ic-contract', );
$ic-docs-name: 'ic-docs';
$ic-docs-x: 81px;
$ic-docs-y: 105px;
$ic-docs-offset-x: -81px;
$ic-docs-offset-y: -105px;
$ic-docs-width: 94px;
$ic-docs-height: 94px;
$ic-docs-total-width: 348px;
$ic-docs-total-height: 282px;
$ic-docs-image: '../img/sprite.png';
$ic-docs: (81px, 105px, -81px, -105px, 94px, 94px, 348px, 282px, '../img/sprite.png', 'ic-docs', );
$ic-hands-name: 'ic-hands';
$ic-hands-x: 202px;
$ic-hands-y: 89px;
$ic-hands-offset-x: -202px;
$ic-hands-offset-y: -89px;
$ic-hands-width: 65px;
$ic-hands-height: 62px;
$ic-hands-total-width: 348px;
$ic-hands-total-height: 282px;
$ic-hands-image: '../img/sprite.png';
$ic-hands: (202px, 89px, -202px, -89px, 65px, 62px, 348px, 282px, '../img/sprite.png', 'ic-hands', );
$ic-list-name: 'ic-list';
$ic-list-x: 0px;
$ic-list-y: 215px;
$ic-list-offset-x: 0px;
$ic-list-offset-y: -215px;
$ic-list-width: 48px;
$ic-list-height: 67px;
$ic-list-total-width: 348px;
$ic-list-total-height: 282px;
$ic-list-image: '../img/sprite.png';
$ic-list: (0px, 215px, 0px, -215px, 48px, 67px, 348px, 282px, '../img/sprite.png', 'ic-list', );
$ic-monets-name: 'ic-monets';
$ic-monets-x: 273px;
$ic-monets-y: 66px;
$ic-monets-offset-x: -273px;
$ic-monets-offset-y: -66px;
$ic-monets-width: 67px;
$ic-monets-height: 67px;
$ic-monets-total-width: 348px;
$ic-monets-total-height: 282px;
$ic-monets-image: '../img/sprite.png';
$ic-monets: (273px, 66px, -273px, -66px, 67px, 67px, 348px, 282px, '../img/sprite.png', 'ic-monets', );
$ic-monitor-name: 'ic-monitor';
$ic-monitor-x: 95px;
$ic-monitor-y: 0px;
$ic-monitor-offset-x: -95px;
$ic-monitor-offset-y: 0px;
$ic-monitor-width: 107px;
$ic-monitor-height: 93px;
$ic-monitor-total-width: 348px;
$ic-monitor-total-height: 282px;
$ic-monitor-image: '../img/sprite.png';
$ic-monitor: (95px, 0px, -95px, 0px, 107px, 93px, 348px, 282px, '../img/sprite.png', 'ic-monitor', );
$ic-question-name: 'ic-question';
$ic-question-x: 273px;
$ic-question-y: 133px;
$ic-question-offset-x: -273px;
$ic-question-offset-y: -133px;
$ic-question-width: 75px;
$ic-question-height: 59px;
$ic-question-total-width: 348px;
$ic-question-total-height: 282px;
$ic-question-image: '../img/sprite.png';
$ic-question: (273px, 133px, -273px, -133px, 75px, 59px, 348px, 282px, '../img/sprite.png', 'ic-question', );
$ic-set-name: 'ic-set';
$ic-set-x: 0px;
$ic-set-y: 105px;
$ic-set-offset-x: 0px;
$ic-set-offset-y: -105px;
$ic-set-width: 81px;
$ic-set-height: 110px;
$ic-set-total-width: 348px;
$ic-set-total-height: 282px;
$ic-set-image: '../img/sprite.png';
$ic-set: (0px, 105px, 0px, -105px, 81px, 110px, 348px, 282px, '../img/sprite.png', 'ic-set', );
$ic-success-name: 'ic-success';
$ic-success-x: 202px;
$ic-success-y: 151px;
$ic-success-offset-x: -202px;
$ic-success-offset-y: -151px;
$ic-success-width: 25px;
$ic-success-height: 25px;
$ic-success-total-width: 348px;
$ic-success-total-height: 282px;
$ic-success-image: '../img/sprite.png';
$ic-success: (202px, 151px, -202px, -151px, 25px, 25px, 348px, 282px, '../img/sprite.png', 'ic-success', );
$ic-user-name: 'ic-user';
$ic-user-x: 273px;
$ic-user-y: 0px;
$ic-user-offset-x: -273px;
$ic-user-offset-y: 0px;
$ic-user-width: 75px;
$ic-user-height: 66px;
$ic-user-total-width: 348px;
$ic-user-total-height: 282px;
$ic-user-image: '../img/sprite.png';
$ic-user: (273px, 0px, -273px, 0px, 75px, 66px, 348px, 282px, '../img/sprite.png', 'ic-user', );
$spritesheet-width: 348px;
$spritesheet-height: 282px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($ic-brain, $ic-contract, $ic-docs, $ic-hands, $ic-list, $ic-monets, $ic-monitor, $ic-question, $ic-set, $ic-success, $ic-user, );
$spritesheet: (348px, 282px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
